aside {
  display: grid;
  grid-template-areas:
    "streamers"
    "info";
  grid-template-rows: 1fr 120px;
  grid-template-columns: 1fr;
  grid-row-gap: 1px;
}

.streamers {
  display: grid;
  grid-template-rows: repeat(auto-fill, var(--card-height));
  grid-auto-flow: row;
  overflow-y: auto;
  background: lightgray;
}

.streamer {
  padding: var(--page-padding);
  height: var(--card-height);
}

.streamer:hover {
  background: var(--darkgray-color);
  cursor: pointer;
}

.avatar {
  width: 30px;
  height: 30px;
  background-size: cover;
  border-radius: 50%;
}

.streamer .name {
  width: 120px;
  margin-left: 10px;
  margin-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.streamer .name:hover,
.details .video-info .author-name:hover,
.details .video-info .title:hover {
  color: dodgerblue;
}

.streamer .count {
  text-align: right;
  width: 50px;
}

.empty-blob {
  margin: 5px;
  height: 10px;
  width: 10px;
}

.blob {
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  margin: 5px;
  height: 10px;
  width: 10px;
  transform: scale(1);
  animation: pulse-black 2s infinite;
}

.blob.red {
  background: rgba(255, 82, 82, 1);
  box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
  animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

.info {
  grid-area: info;
  padding: var(--page-padding);
  background: lightgray;
}

.info-wrapper {
  padding: 12px;
  background: var(--darkgray-color);
  width: 100%;
  height: 100%;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.info-wrapper .social div {
  display: inline-block;
  padding: 4px;
  margin: 6px;
}

.info-wrapper .social div i:hover {
  cursor: pointer;
  color: dodgerblue;
}
