﻿::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

* {
  box-sizing: border-box;
}

::selection {
  background: orange;
  color: white;
}

body {
  margin: 0;
  font-family: "Consolas";
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "aside main";
  grid-template-rows: 80px calc(100vh - 80px);
  grid-template-columns: 260px 1fr;
}

.container > header {
  grid-area: header;
}

.container > aside {
  grid-area: aside;
}

.container > main {
  grid-area: main;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lsection {
  justify-content: left;
}

.rsection {
  justify-content: flex-end;
}

@media all and (max-width: 1200px) {
  .container {
    display: grid;
    grid-template-areas:
      "header header"
      "aside main";
    grid-template-rows: 80px calc(100vh - 80px);
    grid-template-columns: 54px 1fr;
  }

  .streamer .name,
  .streamer .count,
  .streamer .blob,
  .streamer .empty-blob,
  .info-wrapper {
    display: none;
  }
}
