header {
  top: 0;
  position: fixed;
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-areas: "logo search user";
  grid-template-rows: 100%;
  grid-template-columns: 130px 1fr 130px;
}

.header{
  background: white;
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  border-top: 1px solid darkgray;
}

.logo {
  grid-area: logo;
  padding: var(--page-padding);
  font-size: 30px;
  color: #ffe037;
}

.logo i{
  margin-right: 8px;
}

.logo a, a:hover, a:focus, a:active,
.footer a, a:hover, a:focus, a:active,
.dropdown-content a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
 }

.search {
  grid-area: search;
  padding: 4px;
}

.search input {
  float: left;
  width: 35%;
  padding: 8px 10px;
  border: 1px solid #9a9a9a;
  border-right: none;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.search input:focus {
  border: 1px solid var(--blue-color);
  box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
}

.search button {
  padding: 8px;
  border: 1px solid #9a9a9a;
  border-radius: 0 4px 4px 0;
  background: lightgray;
  width: 30px;
  cursor: pointer;
}

.search button:hover {
  background: var(--darkgray-color);
}

.search button > i {
  color: black;
}

.search .voice-search{
    padding: 5px;
    padding-left: 10px;
    color:lightgray;
    cursor: pointer;
}

.search .voice-search:hover{
    color:var(--darkgray-color);
}

.circle-icon {
    background: #ffe037;
    padding:16px;
    border-radius: 50%;
    cursor: pointer;
}

.user {
  padding: var(--page-padding);
}

.user .notification{
    padding: 5px;
    padding-right: 15px;
    color:lightgray;
    cursor: pointer;
}

.user .notification:hover{
    color:var(--darkgray-color);
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

.dropdown-content {
  margin-top: 3px;
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-item{
  padding-right: 14px;
}

.dropdown-content a {
  padding: 12px 16px;
  display: block;
}

.dropdown-content .with-border{
    border-bottom: solid 1px lightgray;
}

.dropdown-content a:hover {
  background-color: lightgray;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .circle-icon {
  background-color: lightgray;
}