main {
  overflow: auto;
  display: grid;
  grid-template-areas:
    "content"
    "footer";
  grid-template-rows: 1fr 80px;
  grid-template-columns: 1fr;
}

.content {
  grid-area: content;
  display: grid;
  grid-template-areas:
    "categories"
    "videos";
  grid-template-rows: var(--card-height) 1fr;
  grid-template-columns: 1fr;
}

.categories {
  grid-area: categories;
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-auto-flow: column;
  overflow-x: scroll;
  grid-gap: 10px 10px;
  padding: var(--page-padding);
}

.categories::-webkit-scrollbar {
  display: none;
}

.category {
  border: solid 1px var(--darkgray-color);
  border-radius: 20px;
  background: lightgray;
  text-align: center;
  padding: 3px 8px 3px 8px;
  margin-right: var(--page-padding);
}

.category:hover {
  cursor: pointer;
  background: var(--darkgray-color);
}

.carousel {
  grid-area: carousel;
  background: white;
}

.videos {
  grid-area: videos;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--video-width), 1fr));
  grid-gap: 10px 10px;
  padding: var(--page-padding);
}

footer {
  padding: var(--page-padding);
}

.footer {
  padding-top: 24px;
  font-size: 18px;
  font-weight: bold;
}

.footer i {
  margin-left: 6px;
}

.footer i:hover {
  color: red;
}

.card {
  cursor: pointer;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px;
}

.details .settings {
  margin-left: auto;
}

.details .video-info {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.details .video-info .title {
  justify-content: left;
  align-items: flex-start;
  font-size: 18px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.details .video-info .author-name {
  justify-content: left;
  align-items: flex-end;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.author {
  justify-content: left;
  margin-right: 16px;
  width: 20%;
}

.peview {
  max-width: 100%;
  z-index: -2;
}

.peview-container {
  position: relative;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.3s ease;
  background-color: black;
  z-index:0;
}

.peview-wrapper:hover .overlay {
  opacity: 0.7;
}

.icon {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.right-corner {
  position: absolute;
  right: 3%;
  bottom: 4%;
}

.left-corner {
  position: absolute;
  top: 4%;
  left: 3%;
}

.badge {
  opacity: 0.8;
  background-color: black;
  border-radius:4px;
  color: white;
  font-size: 14px;
  padding: 6px;
}
